<launch>

  <arg name="use_gazebo" default="false" />
  <arg name="map_name" default="map.yaml"/>

  <!-- Gazebo -->
  <group if="$(arg use_gazebo)">
      <param name="use_sim_time" value="true" />
      <include file="$(find rosbot_bringup)/launch/rosbot_tutorial.launch">
          <arg name="world" value="maze" />
      </include>
  </group>

  <!-- Load map -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find tutorial_pkg)/maps/$(arg map_name)" respawn="true" />

  <!-- AMCL localizer -->
  <node pkg="amcl" type="amcl" name="amcl" output="screen">
    <param name="odom_frame_id" value="odom"/>
    <param name="odom_model_type" value="diff-corrected"/>
    <param name="base_frame_id" value="base_link"/>
    <param name="update_min_d" value="0.1"/>
    <param name="update_min_a" value="0.2"/>
    <param name="min_particles" value="100"/>
    <param name="global_frame_id" value="map"/>
    <param name="tf_broadcast" value="true" />
    <param name="initial_pose_x" value="0.0"/>
    <param name="initial_pose_y" value="0.0"/>
    <param name="initial_pose_a" value="0.0"/>
  </node>
   
  <!-- Teleoperation - keyboard control -->
  <node pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" name="teleop_twist_keyboard" output="screen"/>

</launch>