<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <arg name="rosbot_pro" default="false"/>
  <arg name="rosbot_version" default="$(optenv ROSBOT_VER)"/>

  <include file="$(find astra_launch)/launch/astra.launch"></include>

  <include if="$(eval rosbot_version == 'ROSBOT_2.0' and arg('rosbot_pro') == false)" file="$(find rplidar_ros)/launch/rplidar.launch"></include>
  <include if="$(eval rosbot_version == 'ROSBOT_2.0_PRO' or arg('rosbot_pro') == true)" file="$(find rplidar_ros)/launch/rplidar_a3.launch"></include>
  <node unless="$(eval rosbot_version == 'ROSBOT_2.0' or rosbot_version == 'ROSBOT_2.0_PRO' or arg('rosbot_pro') == true)" name="rplidarNode" pkg="rplidar_ros" type="rplidarNode" output="screen">
    <rosparam file="/rosbot_conf.yaml" command="load"/>
  </node>

  <node pkg="tf" type="static_transform_publisher" name="laser_publisher" args="0 0 0.058 3.14159 0 0 base_link laser 100" />

  <node pkg="tf" type="static_transform_publisher" name="camera_publisher" args="-0.03 0 0.18 0 0 0 base_link camera_link 100" />

  <include if="$(eval rosbot_version == 'ROSBOT_2.0' and arg('rosbot_pro') == false)" file="$(find rosbot_ekf)/launch/all.launch" />

  <include if="$(eval rosbot_version == 'ROSBOT_2.0_PRO' or arg('rosbot_pro') == true)" file="$(find rosbot_ekf)/launch/all.launch">
    <arg name="rosbot_pro" value="true"/>
  </include>

</launch>
