<launch>

  <arg name="use_gazebo" default="false" />

  <!-- Gazebo -->
  <group if="$(arg use_gazebo)">
      <param name="use_sim_time" value="true" />
      <include file="$(find rosbot_bringup)/launch/rosbot_tutorial.launch">
          <arg name="world" value="maze" />
      </include>
  </group>
  
  <!-- SLAM -->
  <node pkg="gmapping" type="slam_gmapping" name="gmapping">
      <param name="base_frame"            value="base_link"/>
      <param name="odom_frame"            value="odom" />
      <param name="map_update_interval"   value="3.0"/>
      <param name="maxUrange"             value="15.0"/>
  </node>

  <!-- Teleoperation - keyboard control -->
  <node pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" name="teleop_twist_keyboard" output="screen"/>

</launch>