<launch>

    <param name="use_sim_time" value="true"/>

    <include file="$(find rosbot_description)/launch/rosbot_gazebo.launch"/>

    <node pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" name="teleop_twist_keyboard" output="screen"/>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find tutorial_pkg)/rviz/tutorial_6.rviz"/>

    <include file="$(find tutorial_pkg)/launch/gmapping.launch"></include>

</launch>