<launch>

    <arg name="rosbot_pro" default="false" />
    <arg name="use_gazebo" default="false" />

    <arg name="teach" default="false"/>
    <arg name="recognize" default="true"/>

    <arg if="$(arg teach)" name="chosen_world" value="rosbot_world_teaching"/>
    <arg if="$(arg recognize)" name="chosen_world" value="rosbot_world_recognition"/>

    <!-- Gazebo -->
    <group if="$(arg use_gazebo)">
        <include file="$(find rosbot_gazebo)/launch/$(arg chosen_world).launch"/>
        <include file="$(find rosbot_description)/launch/rosbot_gazebo.launch"/>
            <param name="use_sim_time" value="true" />
    </group>

    <!-- ROSbot 2.0 -->
    <group unless="$(arg use_gazebo)">
        <include file="$(find rosbot_ekf)/launch/all.launch">
            <arg name="rosbot_pro" value="$(arg rosbot_pro)" />
        </include>

        <include unless="$(arg use_gazebo)" file="$(find astra_launch)/launch/astra.launch"/>
    </group>

    <node unless="$(arg use_gazebo)" pkg="tf" type="static_transform_publisher" name="camera_publisher" args="-0.03 0 0.18 0 0 0 base_link camera_link 100" />

    <node name="teleop_twist_keyboard" pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" output="screen"/>

    <node pkg="find_object_2d" type="find_object_2d" name="find_object_2d">
        <remap from="image" to="/camera/rgb/image_raw"/>
        <param name="gui" value="$(arg teach)"/>
        <param if="$(arg recognize)" name="objects_path" value="$(find tutorial_pkg)/image_rec/"/>
    </node>

    <node pkg="tutorial_pkg" type="action_controller_node" name="action_controller" output="screen"/>

</launch>
