<launch>
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find tutorial_pkg)/rviz/tutorial_9.rviz"/>

    <node pkg="image_transport" type="republish" name="rgb_decompress" args=" compressed in:=/rgb_republish raw out:=/rgb_raw">
        <param name="compressed/mode" value="color"/>
    </node>

    <node pkg="image_transport" type="republish" name="depth_decompress" args=" compressedDepth in:=/depth_republish raw out:=/depth_raw ">
        <param name="compressed/mode" value="unchanged"/>
    </node>

    <include file="$(find tutorial_pkg)/launch/find_object_3d.launch"></include>

    <include file="$(find tutorial_pkg)/launch/frontier_exploration.launch"></include>

    <node pkg="tutorial_pkg" type="search_manager" name="search_manager" output="screen"/>

</launch>
