<launch>

    <arg name="rosbot_pro" default="false" />

    <arg name="teach" default="true"/>
    <arg name="recognize" default="false"/>

    <include file="$(find rosbot_ekf)/launch/all.launch">
        <arg name="rosbot_pro" value="$(arg rosbot_pro)" />
    </include>
    <include file="$(find astra_launch)/launch/astra.launch"/>

    <node pkg="tf" type="static_transform_publisher" name="camera_publisher" args="-0.03 0 0.18 0 0 0 base_link camera_link 100" />

    <node pkg="image_transport" type="republish" name="rgb_compress" args=" raw in:=/camera/rgb/image_raw compressed out:=/rgb_republish"/>

</launch>
