<launch>

    <arg name="rosbot_pro" default="false"/>

    <include file="$(find tutorial_pkg)/launch/rosbot_hardware.launch">
        <arg name="rosbot_pro" value="$(arg rosbot_pro)" />
    </include>

    <include file="$(find tutorial_pkg)/launch/depthimage_to_laserscan.launch"></include>

    <node pkg="image_transport" type="republish" name="rgb_compress" args=" raw in:=/camera/rgb/image_raw compressed out:=/rgb_republish"/>

    <node pkg="image_transport" type="republish" name="depth_republish" args=" raw in:=/camera/depth/image_raw compressedDepth out:=/depth_republish">
        <param name="compressedDepth/format" value="png"/>
        <param name="compressedDepth/png_level" value="1"/>
    </node>

    <include file="$(find tutorial_pkg)/launch/gmapping.launch"></include>

    <include file="$(find tutorial_pkg)/launch/move_base.launch"></include>

</launch>